body{
    text-align: center;
    background-color: rgb(209, 205, 201);
}
h1,h2{
    padding:3px;
    margin:0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
#scoreBoardSection, #instructions{
    background-color: antiquewhite;
}
#scoreBoard{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
}
.score{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
#playerScore , #compScore{
    font-size:20px;
    font-weight:500;
}
.rps-image{
    border-radius: 50%;
    margin:2em;
    width: 150px;
    height: 150px;
}
#scoreBoardSection{
    margin: 1em 20% 0 20%;
    border-radius: 10px;
    padding: 1em 0;
}
#instructions{
    margin: 1em auto 0 auto;
    border-radius: 10px;
    padding: 1em 1em;
    width: 20%;
}
#gameSection{
    padding-bottom: 5px;
}
.gameButton{
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding:0 1em;
}
#lastCast{
    display:flex;
    margin: 0 20%;
    justify-content: space-between;
}
.castImage{
    width: 100px;
    height:100px;
}